@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.eggz {
  text-align: center;
  color: white;
}

.link {
  text-align: center;
}

.css-1iyoj2o {
  flex-direction: row !important;
}
